@tailwind preflight;
@tailwind components;
@tailwind utilities;

a {
  @apply .underline .text-purple-light;
}

a:hover {
  @apply .text-purple-dark;
}

.shout-out {
  @apply .font-light;
}
.shout-out li {
  @apply .mb-1;
}
.shout-out li:last-of-type {
  @apply .mb-0;
}

.text-body {
  @apply .text-base .font-light .text-purple-darker .leading-tight .mb-4;
}

.review-icon {
  @apply .font-normal .text-purple-dark .leading-none .flex .items-center .py-1;
}
.review-icon svg {
  width: 18px;
  margin-right: 0.5rem;
}
.review-icon path {
  fill: #d6bbfc;
}

input:focus {
  outline: 0;
}

path#inner {
  animation: inner-flower 20s infinite ease-in-out;
  transform-origin: calc(50% + 11px) calc(50% + 17px);
}
path#inner.animate-fast {
  animation-duration: 5s;
}

path#outer {
  animation: outer-flower 40s infinite ease-in-out;
  transform-origin: calc(50% + 11px) calc(50% + 17px);
}
path#outer.animate-fast {
  animation-duration: 10s;
}

@keyframes inner-flower {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes outer-flower {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

body {
  background-color: #eff8ff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d6bbfc' fill-opacity='0.25'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
